
#bg-cover{
    height: 1000px;
    background-size:cover; 
    background:no-repeat;
    background-image:url("../images/IMG_8274.JPG");
    background-image: fixed;
    background-position:center ;
  }

  #homepage {
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  p {
    font-size:28px;
  }

  body {
    background-color: rgba(25,26,30,255);
    color:white;
    font-family: Helvetica;
    font-size: 16px;
  }
  .card{
    width: 20%;
    height: 350px;
    margin: 2.5%;
    padding-top: 15%;
    float: left;
    background-color: white;
    text-align: center;
    color: black;
    background-size: contain;
    background:no-repeat;
  }
  .page-row{
      border:solid whitesmoke;
  }

/* login style */

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

button[type=submit] {
  width: 50%;
  background-color:rgb(35, 123, 145);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
    width: 50%;
    background-color:rgb(35, 123, 145);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover {
  background-color: whitesmoke;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  align-content:flex-start[];
}

label{
    color:rgb(35, 123, 145);
}
h3{
    color:whitesmoke;
}

/*
Contact Style
*/

/* Style inputs with type="text", select elements and textareas */
[type=text] textarea {
    width: 100%;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  

.row{
    background-color: black;
}



  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  .valid {
    color: whitesmoke;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  
  /* red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }

  /* Product Style */


/*
table element 
*/

table{
    border: solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

/*
 tr, td, and th elements
*/

tr, td, th{
    border:solid 2px black;
}


/*
 target the th element 
  - set the background color to black
  - set the text color to white
*/
th{
    background-color: rgb(35, 123, 145);
    color: whitesmoke;
}




/*
 target the element with the id of travel-table 
  - make the text color black
  - make the background color white
*/
#art-table{
    color: rgb(35, 123, 145);
    background-color: whitesmoke;
}
.product{
    text-align: center;
    color: rgb(35, 123, 145);
}